<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  <head>
    {{ partial "head/head.html" . }}
  </head>
  {{- partial "head/body-class.html" . -}}
  <body class="{{ delimit (.Scratch.Get "class") " " }}">
    {{ if and .IsHome .Site.Params.alert }}
      {{ partial "header/alert.html" . }}
    {{ end }}
    {{ partial "header/header.html" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "sidebar-footer" . }}{{ end }}
    <footer>
      {{ partial "footer/footer.html" . }}
    </footer>
    {{ partial "footer/script-footer.html" . }}
  </body>
</html>