<!doctype html>
<html lang="{{ .Lang }}" class="min-vh-100">
  <head>
    {{ partial "head/index" . }}
  </head>
  {{- partial "head/body-class" . -}}
  {{- $bodyClass := delimit (.Scratch.Get "class") " " -}}
  <body class="{{ $bodyClass }} d-flex flex-column min-vh-100">
    <header>
    {{ partial "header/index" . }}
    </header>
    <main class="mb-auto mt-5">
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "sidebar-footer" . }}{{ end }}
    <footer>
      {{ partial "footer/footer" . }}
    </footer>
    {{ partial "footer/script-footer" . }}
  </body>
</html>